@charset 'UTF-8';

$headerShadow: 3px 2px 3px rgba(0, 0, 0, 0.2);

#header {
	position: relative;
	z-index: 20;
}

.gnb_dimmed {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);

	&.on {
		display: block;
	}
}

.header_inner {
	position: relative;
	width: 990px;
	margin: 0 auto;
}

// 로고
.logo {
	position: absolute;
	bottom: 8px;
	left: 50%;
	z-index: 50;
	margin-left: -495px;

	> a {
		@include sp_ico($ico-logo);

		display: inline-block;
	}
}

// 헤더 상단
.header_top {
	background-color: $base_gray;
}

// 헤더상단 - 사용자 메뉴
.list_user_menu {
	padding: 5px 0;

	> li {
		float: left;

		& + li {
			margin-left: 13px;
		}

		> a {
			display: block;
			padding: 3px 2px;
			font : { 
				size: 11px;
				weight: 700;
			}
			color: #555;

			&:hover,
			&:focus {
				color: #111;
				text-decoration: underline;
			}
		}

		&:not(.search_header) {
			margin-top: 1px;
		}
	}

	// 검색
	.search_header {
		position: relative;
		padding: {
			right : 20px;
		};
		background-color: #fff;
		border: 1px solid #c0c0c0;
		width: 110px;
		box-sizing: border-box;

		&.on {
			border-color: #545454;
		}

		input {
			width: 100%;
			padding: 1px;
			outline: none;
		}

		.btn_search {
			position: absolute;
			top: 3px;
			right: 6px;
			width: 10px;
			height: 10px;
			background-color: #fff;
			border: 2px solid #767676;
			border-radius: 100%;
			outline: none;

			// 돋보기 그리기
			&:before {
				position: absolute;
				right: -50%;
				bottom: -70%;
				width:6px;
				height: 2px;
				background-color: #767676;
				transform: rotate(45deg);
				transform-origin: right bottom;
				content: '';
			}
		}
	}
}

//  헤더 하단
.header_bottom {
	position: relative;
	background-color: #fff;
	box-shadow: $headerShadow;

	>.header_inner {
		z-index: 22;
		padding-left: 184px;
		box-sizing: border-box;
	}
}

// 주메뉴 공통 영역
.menu_gnb {
	float: left;

	> li {
		float: left;

		&:before {
			display: none;
			position: absolute;
			bottom: 0;
			right: -999%;
			left: -999%;
			z-index: 10;
			height: 4px;
			box-shadow: $headerShadow;
			content: '';
		}

		&.on {
			&:before {
				display: block;
			}
		}
		
		> a {
			display: block;

			> span {
				display: block;
				position: relative;
				font-weight: 500;

				&:after {
					display: none;
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					height: 4px;
					content: '';
				}
			}

			&:hover,
			&:focus {
				> span {
					&:after {
						display: block;
					}
				}
			}
		}
	}
}

// 주메뉴
#gnb {
	&:before {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: $base_gray;
		content: '';
	}

	> li {

		&.on {
			.gnb_depth1 {
				display: block;

				&.type_car {
					display: table;
				}

				&:before {
					display: block;
				}
			}

			> a {
				> span {
					color: $softblue;
				}
			}
		}

		> a {
			padding: 0 24px;

			> span {
				padding: 20px 2px;
				font-size: 16px;
				color: #000;

				&:after {
					background-color: $softblue;
				}
			}
		}
	}

	+ .page_menu {
		position: relative;
		margin-left: 37px;
		padding-left: 33px;

		&:before {
			position: absolute;
			top: 53%;
			left: 0;
			margin-top: -8px;
			width: 1px;
			height: 16px;
			background-color: #a3a3a3;
			content: '';
		}
	}
}

// 뎁스1
.gnb_depth1 {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 10;

	// 차량정보
	&.type_car {
		width: 100%;
		table-layout: fixed;
		box-sizing: border-box;

		> li {
			float: none;
			display: table-cell;
			padding: 0;
			vertical-align: middle;
		}

		.gnb_car_area {
			display: block;
			padding: 25px 10px 15px;
			text-align: center;
		}

		.name_car {
			margin-top: 15px;
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	> li {
		position: relative;
		float: left;
		padding: 17px 17px 35px;
		box-sizing: border-box;

		&:hover,
		&:focus {
			background-color: #fff;

			.name_gnb_depth1 {
				color: $softblue;
			}
		}

		+ li {
			&:before {
				position: absolute;
				top: 15px;
				left: 0;
				bottom: 15px;
				width: 1px;
				background-color: #ddd;
				content: '';
			}
		}

		> a {
			color: #111;

			&:hover,
			&:focus {
				color: $softblue;
			}
		}
	}

	// 뎁스 타이틀
	.name_gnb_depth1 {
		font-size: 14px;
		font-weight: 700;
		color: #000;
	}
}

.gnb_depth2 {
	margin-top: 12px;
	
	> li {
		+ li {
			margin-top: 9px;
		}

		> a {
			font-size: 13px;
			color: #000;
			
			&:hover,
			&:focus {
				color: $softblue;
				border-bottom: 2px solid #ff5a10;
			}
		}
	}
}

// 회사소개 , IR 메뉴 등
.page_menu {
	> li {
		> a {
			padding: 0 14px;

			> span {
				padding: 22px 2px 21px;
				font-size: 14px;
				color: #444;

				&:after {
					background-color: #888;
				}
			}
		}
	}
}

// 전체메뉴 보기
.gnb_menu_all {
	position: absolute;
	top: 16px;
	right: 0;
	padding: 7px 12px;
	background-color: $softblue;
	font-size: 13px;
	color: #fff;
}

.gnb_bg {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	background-color: $base_gray;
	content: '';
}