@charset 'UTF-8';

.header_inner {
	position: relative;
	width: 990px;
	margin: 0 auto;
}

// 로고
.logo {
	position: absolute;
	top: 0;
	left: 0;

	> a {
		@include sp_ico($ico-logo);

		display: inline-block;
	}
}