// pr센터

.split_content {
	&:after {
		display: block;
		clear: both;
		content: '';
	}

	// 좌측 컨텐츠
	.split_left {
		width: 410px;

		.common_title {
			+.list_title_notice {
				margin-top: 20px;
			}
		}
	}

	// 우측 컨텐츠
	.split_right {
		width: 490px;
	}

	+ .split_content {
		margin-top: 14px;
	}
}

// 제목이 있는 공지사항
.list_title_notice {
	> li {
		position: relative;

		+ li {
			margin-top: 17px;
			padding-top: 17px;
			
			&:before {
				position: absolute;
				top: 0;
				right: -100%;
				left: -100%;
				height: 1px;
				background-color: $line_soft_gray;
				content: '';
			}
		}
	}

	// 제목
	.title_notice {
		font-size: 16px;
		font-weight: 600;
		color: #333;

		+ .list_notie_item{
			margin-top: 15px;
		}
	}

	// 더보기 버튼
	.baisc_more {
		position: absolute;
		top: 4px;
		right: -2px;
	}
}

// 제목이 있는 공지사항의 세부 내용
.list_notie_item {
	> li {
		position: relative;
		line-height: 1.5;

		&:before {
			position: absolute;
			top: 9px;
			left: 0;
			width: 3px;
			height: 3px;
			margin: 0 5px 0 0;
			border-radius: 50%;
			background-color: #95a6b2;
			vertical-align: middle;
			content: '';
		}

		+ li {
			margin-top: 5px;
		}

		> a {
			display: block;
			overflow: hidden;
			padding-left: 10px;

			&:hover,
			&:focus{
				.name_noticle {
					text-decoration: underline;
					color: #333;
				}
			}
		}
	}

	// 제목
	.name_noticle {
		@include ellipsis;

		display: block;
		font-size: 13px;
		max-width: 80%;
		color: #767676;
	}

	//날짜
	.data_notice {
		font-size: 13px;
		color: #767676;
	}
}

// 지면,기업홍보영상 영역
.wrap_pr_item {
	.item_pr_box {
		display: block;
		width: 50%;
		height: 237px;
		padding: 25px 0;
		text-align: center;
		box-sizing: border-box;
		background-repeat: no-repeat;
		border-bottom: 1px solid $line_soft_gray;
	
		+ .item_pr_box {
			border-left: 1px solid $line_soft_gray;
		}
		
		// 4면이 라인인 타입
		&.type_line {
			width: 190px;
			height: 220px;
			padding: 15px 0;
			border: 1px solid $line_soft_gray;
		}

		&:hover,
		&:focus {
			background-color: $navy;

			.pr_title {
				color: #fff;
			}
		}
		
		// 지면 광고
		&.bg_paper {
			background-image: url(../img/newsPaper.png);
			background-position: 40% 59px ;
		}

		// 홍보영상
		&.bg_tv {
			background-image: url(../img/pr_tv.png);
			background-position: 49% 75px;
		}

		// 사내보
		&.bg_magazin {
			background-image: url(../img/pr_magazin.png);
			background-position: 32% 91px;
		}

		// 웹진
		&.bg_tablet {
			background-image: url(../img/pr_tablet.png);
			background-position: 32% 89px;
		}

		// 타이틀
		.pr_title {
			display: block;
			margin-bottom: 5px;
			font-size: 18px;
			color: $navy;
		}

		.sub_title {
			font-size: 12px;
			color: #668dc6;
		}
	}
}


// 이벤트 슬라이드
.slider_event_area {
	position: relative;

	.btn_arw {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		color: #fff;
		font-size: 26px;
		
		&.xi-angle-left-thin {
			left: 10px;
		}

		&.xi-angle-right-thin {
			right: 10px;
		}
	}
}

// 역사관
.item_history {
	min-height: 158px;
	background-color:  #f9f9f9;
	background-image: url(../img/pr_monitor.png);
	background-repeat: no-repeat;
	background-position: right 72px bottom 10px;
}

// 비디오 영역
.video_frame {
	margin-top: 30px;
	iframe {
		width: 100%;
	}
}