include mixin/_var
include mixin/_mixin
<!DOCTYPE html>
html(lang='ko')
   head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title 쌍용자동차 :: 포트폴리오
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(name='description' content='2016년에 작업한 쌍용자동차 사이트를 다시 만들어봄')
      // CSS
      link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
      link(href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean' rel='stylesheet')
      link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
      link(rel='stylesheet' href='css/common.css')
      link(rel='stylesheet' href='css/contents.css')
      block css
      block libCss
   body
      #skip
         a(href="#user_menu") 사용자메뉴 바로가기
         a(href='#gnb') 주메뉴 바로가기
         a(href='#container') 본문 바로가기
      #wrap
         block header
            include common/_header

         // 본문
         main(role='main')
            .content_inner
               block content
         
         
         block footer
            include common/_footer

         .gnb_dimmed(aria-hidden='true')
         
         block libScript
            script(src='js/jquery.js')
            script(src="https://unpkg.com/swiper/js/swiper.min.js")
         
         block script
            // script
            script(src='js/common.js')
            script(src='js/sub.js')