@charset "UTF-8";

/* 제작자 : 박종상*/
html, body, h1, h2, h3, h4, h5, h6, dt, dl, dd, p, ul, li, ol, ul, strong, em, i, b, button, select, input, img, article, aside, figcaption, figure, footer, header, main, nav, output, section {
	margin: 0;
	padding: 0;
	border: 0;
}

body,
input,
select,
button,
textarea {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 14px;
	color: #444;
	font-weight: 400;
	line-height: 1.25;
	letter-spacing: -.5px;
}

main, header, footer, aside, nav, article, address {
	display: block;
}

input, button, select, textarea {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
}

ul, ol, dl {
	list-style: none;
}

em, i, address {
	font-style: normal;
}

hr {
	display: none;
}

.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

button > span {
	position: relative;
}

table {
	width: 100%;
	border-collapse: 0;
	table-layout: fixed;
}

#skip a {
	position: absolute;
	top: -50px;
	right: 0;
	left: 0;
	background-color: #005c83;
	color: #fff;
	font-size: 21px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#skip a:focus {
	top: 0;
}

.clear:after {
	display: block;
	clear: both;
	content: '';
}

.fl {
	float: left;
}

.fr {
	float: right;
}