//-공통 타이틀 설정
mixin title(title,desc,tag)
   - tag = tag || 'strong'
   #{tag}.common_title!=title
   if desc
      p.desc_feature!=desc
mixin bnMore()
   a(href="#;").baisc_more
      span 더보기
      i.xi-angle-right(aria-hidden='true')