@charset 'UTF-8';

@import 'mixin/_mixin';
@import 'mixin/_var';
@import 'lib/_sprite_mixins';

// 스프라이트
@import 'lib/sp_common';
@import 'lib/sp_company';
@import 'lib/sp_employ';

// 회사소개
@import 'sub/_company';
@import 'sub/_employ';